.form-wrapper 
{
    width: 350px;
    margin: 10px auto;
    padding: 32px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.btn-submit 
{
    width: auto;
    padding: 8px 16px;
    
}

.card-gallery 
{
    margin-top: 10px;
}

.card 
{
    margin-bottom: 10px;
}

.clear-btn-wrapper 
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
